:root{
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --primaryColour: #160942;
  --secondaryColour: #e8063d;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body{
  padding: 0;
  margin: 0;  
  width: 100%;
  height: 100%;
  background: url(./bgPIC.png) no-repeat center center fixed; 
  background-size: cover;
  color: #ececec;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}
body::-webkit-scrollbar-track{
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
  background: #6649b8;
}

.textPadd{
  padding-left: 15vh;
}

.nav-item{
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.nav-item a{
  text-decoration: none;
  transition: ease-out 2000ms;
  color: white;
}

.nav-item a:hover{
  color: var(--secondaryColour);
  transition: ease-out 200ms;
}

.in-use{
  color: var(--secondaryColour);
}


.topmargin{
  margin-top: 3vh;
}

hr{
  height: 1px;
  background-color: var(--secondaryColour);
  border: none;
}

.secondaryHeading{
  color: var(--secondaryColour);
}

/* For larger screens */
@media only screen and (min-width: 600px) {
  .jumbo {
    text-align: Left;
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    border-radius: 0;
    background: none;
  }
}



/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 6rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-item{
    margin-left: 5vw;
    margin-right: 5vw;
  }

  main {
    margin: 0;
  }

  .jumbo {
    text-align: center;
    padding: 2% 3% 1% 3%;
    margin-bottom: 0;
    border-radius: 0;
    background: none;
  }
}
