<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NZWebsite</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <!-- Row: NAVBAR -->
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-7 jumbotron jumbo">
                {% if name %}
                    <h1>Nathan Zhou</h1>
                    <p class="lead">A simple website where I show off my projects.</p>
                {% else %}
                {% endif %}
            </div>
            <div class="col-sm-1 nav-item"> 
                    <a href="{{url_for('home')}}">Home</a>
            </div>
            <div class="col-sm-1 nav-item">
                <a href="{{url_for('home')}}">Projects</a>
            </div>
            <div class="col-sm-1 nav-item">  
                <a href="{{url_for('login')}}">Resume</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="hrColour">
            </div>
        </div>
        <!-- Content -->
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>            