<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NZWebsite</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
    <div class="container">
        <!-- Row: NAVBAR -->
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8 jumbo">
                <h2>{{insert}}</h2>
                <p>{{subheading}}</p>
            </div>

            {% if active[0] %} <!-- Which page is active?-->
            <div class="col-sm-1 nav-item active"><a href="{{url_for('home')}}">Home</a></div>
            <div class="col-sm-1 nav-item"><a href="{{url_for('projects')}}">Projects</a></div>
            <div class="col-sm-1 nav-item"><a href="{{url_for('login')}}">Resume</a></div>
            {% elif active[1] %}
            <div class="col-sm-1 nav-item"><a href="{{url_for('home')}}">Home</a></div>
            <div class="col-sm-1 nav-item active"><a href="{{url_for('projects')}}">Projects</a></div>
            <div class="col-sm-1 nav-item"><a href="{{url_for('login')}}">Resume</a></div>
            {% else %}
            
            <div class="col-sm-1 nav-item"><a href="{{url_for('home')}}">Home</a></div>
            <div class="col-sm-1 nav-item"><a href="{{url_for('projects')}}">Projects</a></div>
            <div class="col-sm-1 nav-item active"><a href="{{url_for('login')}}">Resume</a></div>
            {% endif %}
        </div>
        
        <div class="row">
            <div class="col">
                <hr class="hrColour">
            </div>
        </div>
        <!-- Content -->
        <div>
            {% block content %}{% endblock %}
        </div>

    <!--Footer-->
        <footer id="Footer">
            
            <div class="container row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2"><p> <strong>Keep in contact</strong></p></div>
                <div class="col-sm-3"><p>Email: zna@hotmail.com.au</p></div>
                <div class="col-sm-3"><p>Phone: +61426863020</p></div>
                <div class="col-sm-2"></div>
            </div>
        </footer>
    </div>
    </body>
</html>            