{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col jumbotron jumbo">
            <h1>Nathan Zhou</h1>
            <p class="lead">A simple website where I show off my projects.</p>
            <hr class="hrColour">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="secondaryHeading"> Featured Projects </h1>
        </div>
    </div>
    <!-- Project 1 -->
    <div class="row">
        <div class="col-sm-3 projectContainer">
            1
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-3 projectContainer">
            2
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-3 border projectContainer">
            3
        </div>

        <div class="col-sm-1"></div>
    </div>
{% endblock %}