{% extends "base.html" %}

{% block content %}
    <!-- Projects -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 projectContainer">
            <a class="projectImg center" href="{{url_for('dry_bean')}}">
                <img  src="./../static/Capture-min.PNG" alt="Beans!">
                <p>Dry Bean Analysis</p>
            </a>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3 projectContainer">2</div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 projectContainer">3</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3 projectContainer">4</div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 projectContainer">5</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3 projectContainer">6</div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}